.nav-link {
    opacity:0.7;
}

.nav-link:hover {
    opacity: 1;
    background-color:#eee !important;
}
header {
    /*sizing of the element*/
    height: 80px;
    width: 80%;
    /*set and adjust background image*/
    background-image: url("ssss.jpg");
    background-size: cover;

    /*center the text*/
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
header p {
    font-style: italic;
}    
.services i {
    height:80px;
    width: 80px;
    text-align: center;
    padding: 25px 20px;
    color: green;
    background-color: black;    
    font-size: 300%;
    border-radius: 50%;
    
}

.services h2 {

}